<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- LeafLet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

    <!-- MetricsGraphics CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.css">

    <!-- Custom styles for this template -->
    {% load staticfiles %} <!-- Prepare django to load static files -->
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/netmap.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/station.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/nettable.css" %}" rel="stylesheet" type="text/css" media="screen" />

  </head>
  <body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- HEADER -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url "index" %}">NOANET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Network</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url "intro" %}">Introduction</a>
                <a class="dropdown-item" href="{% url "netmap" %}">Sites</a>
                <a class="dropdown-item" href="{% url "research" %}">Research</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stations</a>
              <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdown01">
                {% for station in station_list %}
                  <a class="dropdown-item" href="{% url "station" station.four_char_id %}">{{ station.four_char_id }}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url "data" %}">Access Options</a>
                <a class="dropdown-item" href="http://www.gein.noa.gr/services/GPSData/">Web Archive</a>
                <a class="dropdown-item" href="http://194.177.194.238:8080/noanetgsac/gsacapi/">GSAC</a>
                <a class="dropdown-item" href="http://194.177.194.250:8080/epos_validation/#/site">GLASS Node</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maps & Tables</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url "nettable" %}">Station List</a>
                <a class="dropdown-item" href="{% url "data_availability" %}">Data Availability</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <div id="header"></div>

    <main role="main">
      
      {# The Document Body #}
      <div class="container" id="site-wrapper">
        {% block content %}
          if you see this, something is wrong!
        {% endblock content %}
      </div>

      <!-- FOOTER -->
      <footer class="section footer-classic context-dark bg-image mt-3" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4">
                <a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>National Observatory of Athens<br>Institute of Geodynamics</p>
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>NOANET</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class-"col-md-4">
              <h6>Contacts</h6>
              <dl class="contact-list">
                <dt>Address:</dt>
                  <dd>Lofos Nymfon, Thission, Athens 11810, Greece</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                  <dd><a href="mailto:#">gnss-noanet@noa.gr</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                  <dd><a href="tel:#">+30 210 3490184</a></dd>
              </dl>
            </div>
          <div class="col-md-4 col-xl-3">
            <h6>Links</h6>
            <ul class="footer-nav-list">
              <li><a href="http://www.noa.gr/index.php?lang=en">National Observatory of Athens</a></li>
              <li><a href="http://www.gein.noa.gr/en/">Institute of Geodynamics</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
        </div>
        <div class="row no-gutters social-container">
        </div>
      </footer>
    
    </main>
  
  </body>

</html>
