<p>This is the <em>template/nginfo/detail2.html</em> template. The variables
here are imported from <code>nginfo/views.py :: detail2()</code> function.</p>

<p>You requested station: {{ station }} cause you entered something like
<code>http://foo/bar/nginfo/atal</code></p>

<p>Here, we can use access the database, e.g.
<ul>
    <li>4char id: {{ station.four_char_id }}</li>
    <li>New name: {{ station.ten_char_id }}</li>
    <li>location: {{ station.location }}</li>
    <li>domes nr: {{ station.domes_number }}</li>
    <li>position: {{ position.xpos }}, {{ position.ypos }}, {{ position.zpos }}</li>
</ul></p>
