body {
    counter-reset: footnotecounter;
    padding-top: 70px;
}
span.footnote:before {
  counter-increment: footnotecounter;
  content: counter(footnotecounter);
  position: relative;
  top: -0.4em;
}
span.footnote {
    color: #24B1E6;
}
footer {
    width:100%;
    background-color:#263238;
    min-height:250px;
    padding:10px 0px 25px 0px ;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.footer-nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}
.footer-nav-list ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
