/**CSS FOR THE RING**/
.glyphicon-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/
.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}
/**WITH AN ADDED BACKGROUND COLOR**/
.glyphicon-white {
  background: white;
  color: black;
  border: 4px solid black;
}
.glyphicon-teal {
  background: teal;
  color: orange;
}
.glyphicon-red {
  background: red;
}
.carousel-inner img {
  margin: auto;
}
.carousel .item {
    color: rgb(240, 240, 240);
    background-color: rgb(240, 240, 240) !important;
}
.carousel {
    color: rgb(240, 240, 240);
    background-color: rgb(240, 240, 240) !important;
}
#indexCarousel {
    color: rgb(240, 240, 240);
    background-color: rgb(240, 240, 240) !important;
}
.scrollable-menu {
    height: auto;
    max-height: 80vh;
    overflow-x: hidden;
}
