.table-list-small {
    font-family: "Courier New", Arial, Lucida "Console";
    font-size: 0.8em;
}
.table-second-thead {
    font-family: "Courier New", Arial, Lucida "Console";
    font-size: 0.9em;
    font-weight: normal; !important
}
#detailed-station-table>thead>tr>td,
#detailed-station-table>thead>tr>th {
    vertical-align: middle !important;
}
