.station-info-table>tbody>tr>td, 
.station-info-table>tbody>tr>th,
.station-info-table>tfoot>tr>td,
.station-info-table>tfoot>tr>th,
.station-info-table>thead>tr>td,
.station-info-table>thead>tr>th {
    padding: 1px;
    vertical-align: middle;
}
.info-table-col {
    font-family: Georgia, Verdana, "Lucida Console";
    font-variant: small-caps;
}
.info-table-val {
    font-family: "Courier New", Arial, Lucida "Console";
    font-size: 1.3em;
}
.modal-dialog {
    width: 800px;
    height:600px !important;
}
.modal-body p {
    word-wrap: break-word;
}
#myChart > svg {
    width: 100%;
    height: 100%;
}
.line 
{
    fill: none;
    stroke: steelblue;
    stroke-width: 3.5px;
}
#StationMap {
  height: 100%;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // width: 100%;
}
