{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}
{% load nginfo_extras %} <!-- we' ll need some filters -->

<!-- just some empty vertical space ... -->
<div class="form-group">&nbsp;</div>

<div class="container">

  <div class="row mt-5">
    <h2>Daily RINEX availability Plot</h2>
    <div class="col-xs-12 col-lg-12" id="DataChart"></div>
  </div>
    
</div> <!-- container -->
    
<!-- JavaScipt Code for the availability plot -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">

  var json_list = {{json_list|safe}};
  var num_of_json = json_list.length;

  /* Availability Plot */
  var margin = {top: 20, right: 10, bottom: 20, left: 100};
  width  = 960 - margin.left - margin.right,
  height = 800 - margin.top - margin.bottom;
  var radius = 3e0;
  var colors = ["red", "green", "blue"];
    
  // axis setup functions/variables
  var x      = d3.scaleTime().range([0, width]); // v4.x
  var xAxis  = d3.axisBottom(x);
  var y      = d3.scaleLinear().range([height, 0]);
  var yAxis  = d3.axisLeft(y); // v4.x
  y.domain([0,num_of_json]);
    
  // the actual svg
  var svg = d3.select("#DataChart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .attr('viewBox','0 0 '+Math.min(width+margin.left+margin.right,height+margin.top+margin.bottom)+' '+Math.min(width+margin.left+margin.right,height+margin.top+margin.bottom))
          .attr('preserveAspectRatio','xMinYMin')
      .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // datetime parse (function)
  var starting_date = "2004-01-01 00:00:00";
  var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");
  x.domain([parseDate("2004-01-01 00:00:00"), parseDate("2019-01-01 00:00:00")]);

  // append x and y axis
  svg.append("g")
     .attr("class", "x axis")
     .attr("transform", "translate(0," + height + ")")
     .call(xAxis);
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  function draw(data, num, station) {
    // function to (iteratively) plot data line
    var vline = d3.line()
        .x(function(d) { return x(parseDate(d.epoch)); })
        .y(function(d) { return y(d.size > 0 ? num : 0); });

    svg.append("path")
        .data([data])
        .attr("class", "daline")
        .attr("stroke", colors[num%3])
        .attr("stroke-width", "3.5px")
        .attr("d", vline);
    console.log("color is:", colors[num%3], num%3);

    // add station names in y-axis as text
    svg.append("text")
      .attr("x", x(parseDate(starting_date)))
      .attr("dx", "-35px")
      .attr("y", y(num+0.2))
      .attr("stroke", colors[num%3])
      //.attr("transform', 'rotate(-90)")
      //.attr("text-anchor', 'middle")
      .text(station.replace(".json", ""));
    
    // add station names in y-axis as text
    svg.append("text")
      .attr("x", x(d3.max(x.domain())))
      .attr("dx", "-35px")
      .attr("y", y(num+0.2))
      .attr("stroke", colors[num%3])
      .text(station.replace(".json", ""));
    console.log("max date is ", d3.max(x.domain()));
      
      // plot (x,y) pairs as dots
      /*
      svg.selectAll(".dot")
          .data(data, function(d){return d;})
          .enter()
          .append("circle")
          .attr("r", radius)
          .attr("cx", function(d) {
            return x(parseDate(d.epoch));
          })
          .attr("cy", function(d) {return y(d.size>0?num:0);})
          .attr("stroke", "blue")
          .attr("stroke-width", 0.1)
          .attr("fill", "red")
          .attr("class", "normal_pt data_pt");*/
  }

  {% for jflnm in json_list %}
    var json_file{{ forloop.counter0 }} = "/home/xanthos/noa-helpos/noa_site/noawebgps/static/json/"+"{{jflnm}}";
    d3.json(json_file{{ forloop.counter0 }}).then( function(data) {
      var it = {{ forloop.counter0 }};
      console.log("plotting "+json_file{{ forloop.counter0 }}+" with it=", it);
      draw(data, it, "{{ jflnm }}");
    });
  {% endfor %}
</script>
  
{% endblock content %}
