{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}

<h2>Data</h2>
<p>The National Observatory of Athens (NOA) archives and distributes GPS/GNSS data for
a large number of stations in Greece. These include (but are not limited to) the
stations installed and maintained by NOA. A <a href="#agency-table">number of institutions</a>, 
make their data freely available via NOA's repositories.</p>
    
<div class="table-responsive" id="agency-table">
  <table class="table table-hover thead-light net-table-info">
    <thread>
      <tr>
        <th>Institute</th>
        <th>Department</th>
        <th>Abbreviation</th>
      </tr>
    </thread>
    <tbody>
      {% for agency in agency_list %}
        <tr>
          <td>{{agency.institute}}</td>
          <td>{{agency.department}}</td>
          <td><a href="{{agency.link}}">{{agency.short_name}}<a/></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>Data Access</h3>
<p>Currently, we offer three different ways of accessing NOA's archived data.
Users can make their pick depending on their needs and preferences.
  <div class="list-group">
    <a href="http://www.gein.noa.gr/services/GPSData/" class="list-froup-item">
      <h5 class="list-group-item-heading" style="margin-left: 2%;"><span class="glyphicon fas fa-download"></span>  Web Archive</h5>
    </a>
    <p class="list-group-item-text">Users can use NOA's <b>web service</b> to 
      access and download data. The repository is organized in yearly and daily
      folders (actually day of year), conforming to the globally used conventions
      in the GPS/GNSS community.
    </p>
    <a href="http://194.177.194.238:8080/noanetgsac/gsacapi/" class="list-froup-item">
      <h5 class="list-group-item-heading" style="margin-left: 2%;"><span class="glyphicon fas fa-download"></span>  GSAC</h5>
    </a>
    <p class="list-group-item-text"><b>GSAC</b> is <a href="https://www.unavco.org/">UNAVCO</a>'s 
      Geodesy Seamless Archive Centers software system, which powers geodesy data 
      repositories with a web services enabled application programming interface.
      GSAC software is intended to provide simple, consistent web services 
      at geodetic-focused data centers in order to facilitate discovery, 
      sharing, and access to data. Foe details on GSAC, see UNAVCO's dedicated 
      <a href="https://www.unavco.org/software/data-management/gsac/gsac.html">webpage</a>
    </p>
    <a href="http://194.177.194.250:8080/epos_validation/#/site" class="list-froup-item">
      <h5 class="list-group-item-heading" style="margin-left: 2%;"><span class="glyphicon fas fa-download"></span>  GLASS</h5>
    </a>
    <p class="list-group-item-text">Geodetic Linking Advanced Software System 
      (<b>GLASS</b>) is an integrated software package deployed in a GNSS 
      infrastructure to manage data and metadata. GLASS is an open source platform, 
      developed by EPOS GNSS Data and Products team, under Creative Commons 
      licensing. For detailed information on GLASS, see EPOS's dedicated 
      <a href="https://www.epos-ip.org/tcs/gnss-data-and-products/news/glass-unique-open-access-platform-earth-sciences-research">webpage</a>.
    </p>
  </div>
</p>

<h3>Data Description</h3>
<p>Within the data repositories, users will find <em>daily RINEX</em> files, used the
  standard naming conventions, aka:
<pre>ssssddd0.yyd.Z, where
      |   |    |
      <ssss> is the station 4-char name/id
          |    |
          <ddd> is the day of year
               |
               <yy> is the two digit year
</pre>
  Note that the archived RINEX files follow a two-fold compression scheme; they are
  <a href="https://www.unavco.org/data/gps-gnss/hatanaka/hatanaka.html">Hatanaka-compressed<a/> 
  and <a href="https://en.wikipedia.org/wiki/Compress">Unix</a> compressed <code>(.Z)</code>.
</p>

<p>NOA archives daily RINEX files, with a sampling interval of 30 seconds. We
use predominantly <code>RINEX Version 2.10 or 2.11</code> for formating the data
files. Users that are in need of data in other formats, or sampling intervals are
encouraged to contact <a href="mailto:gnss-noanet@noa.gr">NOA GNSS Team.</a></p>

<h3>Meta-Data (Log files)</h3>
<p><a herf="http://www.igs.org/">IGS</a>-format site logs are kept for all stations in NOANET 
and updated regularly. Users can view or download them, at each station's individual
weg-page (e.g. for station <a href="{% url "station" "noa1" %}">noa1</a>).
</p>

{% endblock content %}
