{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}

<div id="indexCarousel" class="carousel slide" data-ride="carousel">

  <!-- Carousel Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#indexCarousel" data-slide-to="1"></li>
    <li data-target="#indexCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel Indicators -->
        
  <!-- inner elements -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-50" src="{% static "img/stations-sc.png" %}" alt="First slide">
        <!--<div class="container">
          <div class="carousel-caption text-left">
            <h1>NOANET stations.</h1>
            <p>Explore NOANET GPS/GNSS stations; a network of {{ station_list|length }} sites covering all of Greece.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>-->
    </div>
    <div class="carousel-item">
      <img class="d-block w-50 img-fluid" src="{% static "img/research-2-sc.jpg" %}" alt="Second slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h1>Research & Results.</h1> -->
          <p class="text-body" style="font-size: 1.2em;">
            <b>The NOANET network contributes significantly to the understanding of the complex tectonic setting of Greece.</b>
          </p>
          <p><a class="btn btn-lg btn-primary" href="{% url "research" %}" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-50 img-fluid" src="{% static "img/karla-sc.jpg" %}" alt="Third slide">
        <!--<div class="container">
          <div class="carousel-caption text-right">
            <h1>Local GPS/GNSS networks.</h1>
            <p>NOA/GEIN has installed various local GPS/GNSS networks to monitor surface movement.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>-->
    </div>
  </div>
  <!-- inner elements -->

  <!-- Next/Previous controls -->
  <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!-- Next/Previous controls -->

</div> <!-- #indexCarousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<!-- REFS:
For the rounded glyphicons, see:
  https://stackoverflow.com/questions/33846244/how-to-add-a-ring-around-bootstrap-glyphicons
-->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row mt-2">
    <!-- Column 1 -->
    <div class="col-lg-4">
      <div class="alert alert-success">
        <div class="glyphicon-ring">
          <span class="glyphicon fas fa-archive glyphicon-bordered"></span>
        </div>
      </div>
      <h2>Data</h2>
      <p>Data from the GEIN GNSS Network are freely available. Browse and/or download files from our 
        <a href="http://194.177.194.250:8080/epos_validation/#/site">GLASS</a> node, our 
        <a href="http://194.177.194.238:8080/noanetgsac/gsacapi/">GSAC</a> repository 
        or the ftp <a href="http://www.gein.noa.gr/services/GPSData/">archive</a>.</p>
      <p><a class="btn btn-secondary" href="{% url "data" %}" role="button">View details &raquo;</a></p>
    </div>
    <!-- Column 2 -->
    <div class="col-lg-4">
      <div class="alert alert-success">
        <div class="glyphicon-ring">
          <span class="glyphicon fas fa-broadcast-tower glyphicon-bordered"></span>
        </div>
      </div>
      <h2>Network</h2>
      <p>Explore the NOANET GNSS Network; a collection of GPS/GNSS permanent stations,
         spanning nearly all of Greece. Currently, {{ station_list|length }} 
         stations are installed and/or maintained by NOA.</p>
      <p><a class="btn btn-secondary" href="{% url "netmap" %}" role="button">View details &raquo;</a></p>
    </div>
    <!-- Column 3 -->
    <div class="col-lg-4">
      <div class="alert alert-success">
        <div class="glyphicon-ring">
          <span class="glyphicon fas fa-map-marked-alt glyphicon-bordered"></span>
        </div>
      </div>
      <h2>Maps</h2>
      <p>A collection of maps and prodcuts (e.g. tectonic velocities, strain tensors, etc).</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>


  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->

</div>

{% endblock content %}
