{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}

<h2>NOANET</h2>

<p>The Institute of Geodynamics <em>(GEIN)</em> of the National Observatory of 
Athens <em>(NOA)</em> operates the NOANET, which is a continuously operating 
GNSS network in Greece, for regional studies in seismology and geodynamics. 
Its primary scientific role is to support high precision, real-time geodetic 
measurements using Global Navigation Satellite System (GNSS) observations, in 
order to measure and quantify coseismic, postseismic, and interseismic 
deformation across major fault zones, active crustal deformation processes and 
tectonic deformation in the plate boundary zones of the eastern Mediterranean, 
as well as to support GPS seismology and other earth science applications. 
The NOANET network has been operating since 2006, following the 
<a href="http://www.epncb.oma.be/">EUREF Permanent GNSS Network</a>
<em>(EPN)</em> standards.</p>

<p>The network, as of October 2018, comprises 24 stations all of which are 
telemetered in real-time to the main GNSS server of the Institute of Geodynamics 
in Athens. All stations collect data every 1 sec and transmit them to Athens 
on the hour (hourly files). At some stations, 5 Hz or 10 Hz are also collected 
on the ring buffer and remain available for manual download for a period of 
72 hours. Data archiving is performed in two modes:
<ul>
  <li> 1 sec data of each station are archived in hourly intervals and</li>
  <li> daily data for each station are archived in 30 sec sampling rate.</li>
</ul>     
The network server in Athens is collecting data in automatic mode and a daily 
file is created at mid-night by sub-sampling the hourly observations every 
30 sec intervals. This file is converted to <em>RINEX</em> format and delivered 
to the NOA Web Server where it is available for 
<a href="{% url "data" %}">download</a>. Additionally, the 
NOANET GSAC and GLASS nodes disseminate, on a daily basis, over 60 
continuously operating GNSS stations located throughout the Balkan region. 
NOANET supports a free and open data policy.</p>

<div class="row text-center">
  <div class="col-xs-6 col-lg-6">
    <img src="{% static "img/stations.png" %}" class="img-thumbnail" style="width: 100%;">
  </div>
  <div class="col-xs-6 col-lg-6 d-flex flex-wrap align-items-center">
    <img src="{% static "img/NOANET-GRAPH.png" %}" class="img-thumbnail" style="width: 100%;">
        <!--<div class="caption">
            <p><i>Horizontal GPS velocity vectors relative to stable Eurasia. 
            Error ellipses represent 95% confidence level 
            (from <a href="#ref2015">Chousianitis et al. 2015</a>).</i></p>
        </div>-->
  </div>
</div>

<p>The first installation was completed in February 2006 in the island of 
Cephalonia, Ionian Sea and was named <a href="{% url "station" "vlsm" %}">VLSM</a>. 
This site is co-located with the NOA seismological station. The second station 
that operated was <a href="{% url "station" "rlso" %}">RLSO</a> which was 
installed in the vicinity of the 8 June 2008 Achaia earthquake (Mw 6.4) at 
NW Peloponnese. Afterwards, station <a href="{% url "station" "noa1" %}">NOA1</a> 
was installed in March 2006 and since April 2006 is part of the 
<a href="http://www.epncb.oma.be/">EUREF Permanent GNSS Network (EPN)</a>. 
Subsequently, we focused in western Greece where stations 
<a href="{% url "station" "pont" %}">PONT</a> and 
<a href="{% url "station" "span" %}">SPAN</a> were installed at the island of 
Lefkada, approximately 7 km to the east of the Cephalonia Transform Fault, and 
station <a href="{% url "station" "kasi" %}">KASI</a> in northern Corfu island 
at about 35-25 km to the east of the Apulian thrust, a rather unexplored 
structure. Next, new GNSS stations were installed throughout central and 
southern Greece, as well as at north Aegean islands. During 2016-2018 within 
the framework of a bilateral cooperation under a Memorandum of Understanding 
with Istituto Nazionale di Geofisica e Vulcanologia (INGV), we installed 
stations <a href="{% url "station" "strf" %}">STRF<a/>, 
<a href="{% url "station" "kyth" %}">KYTH<a/>, <a href="{% url "station" "anky" %}">ANKY<a/>, 
<a href="{% url "station" "ptkg" %}">PTKG</a> and <a href="{% url "station" "znte" %}">ZNTE</a> 
at some of the most critical locations of SW Greece for capturing the active 
deformation of the western Hellenic Arc.</p>

<p>NOANET supports a free and open data policy. Data are provided to the 
Science community under the agreement that proper acknowledgements are made.</p>

<p>For any information concerning the NOANET network of the Institute of 
Geodynamics contact 
<a href="mailto:chousianitis@noa.gr">Dr. Konstantinos Chousianitis</a></p>

{% endblock content %}
