{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}
{% load nginfo_extras %} <!-- we' ll need some filters -->

<!--
  File: netmap.html
  Short stations report + simple station table + network map
-->

<h2>Sites</h2>
<p>During the installation of the NOANET stations, we always give special 
consideration into some guidelines that assure site security, reliable 
data transmission and monument stability, so as to provide the best 
possible data to the scientific community. In this context, we consider 
stability with time, simple monument design and ease of installation. 
All the continuously operating GNSS stations have been installed at areas 
that are not affected by slope instability, soil compression, radio 
frequency interference and obstructions. We choose locations that assure 
a clear horizon and are clear of reflecting surfaces so as to minimize 
multipath signals, and at the same time they guarantee continuous electric 
power and fast and reliable telemetry. At present, in NOANET we have 
implemented three monument designs. These consist of stainless steel 
masts, reinforced concrete pillar monuments and shallow drilled braced 
monuments.</p>

<!-- Leaflet Map -->
<h2>Network Map</h2>
<div id="NetworkMap"></div>

<!-- Network Table -->
<div class="table-responsive">
  <h2>Station List</h2>
  <table class="table table-hover thead-light net-table-info">
    <thread>
      <tr>
        <th>Station Name</th>
        <th>DOMES</th>
        <th>Location</th>
        <th>Installation Date</th>
      </tr>
    </thread>
    <tbody>
      {% for station in station_list %}
      <tr>
        <td>{{station.four_char_id}}</td>
        <td>{{station.domes_number}}</td>
        <td>{{station.location}}</td>
        <td>{{station.install_date|date:"Y b d"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="text-info"><em>Note:</em><i> For a more detailed and sortable station list, see <a href="{% url "nettable" %}">here</a></i></p>
</div> <!-- class = table-responsive -->
    
<!-- JavaScipt Code for the map -->
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script type="text/javascript">
  var myAccessToken = "pk.eyJ1IjoieGFudGhvcyIsImEiOiJjanA5cDM1eDUyMHkxM3BweGJzNTRxMWNvIn0.jMORbjzoSRK4tTWgVqA8-w";
  var mymap = L.map('NetworkMap').setView([38.0, 22.5], 5);  
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);
            
  {% for s in station_list %}
    var marker_{{s.id}} = L.marker({{s.xyz_position.toMapMarker}}, {title: "{{s.ten_char_id}}"}).addTo(mymap);
    var pop_msg = "<b>Station</b>: {{ s.four_char_id }} {{ s.domes_number }} ({{ s.ten_char_id }})<br>";
    {% if s|PpgnetBallon %}
      pop_msg +=  "Station belongs to PPGNet, joint network of Patras-Charles University and the RIGTC";
    {% else %}
      pop_msg +=  "<b>Equipment Owned by</b>: {{ s.owned_by.institute }}";
    {% endif %}
    marker_{{s.id}}.bindPopup(pop_msg);
  {% endfor %}

</script>

{% endblock content %}
