{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}
{% load nginfo_extras %} <!-- we' ll need some filters -->
    
<h2>Station List</h2>
<div class="dropdown mb-3">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Sort By
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url "nettable" %}">Station Name</a>
    <a class="dropdown-item" href="{% url "nettable" "install_date" %}">Installation Date</a>
    <a class="dropdown-item" href="{% url "nettable" "antenna" %}">Antenna</a>
    <a class="dropdown-item" href="{% url "nettable" "receiver" %}">Receiver</a>
    <a class="dropdown-item" href="{% url "nettable" "satsys" %}">Stellite System</a>
    <a class="dropdown-item" href="{% url "nettable" "status" %}">Status</a>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover thead-light net-table-info" id="detailed-station-table">
    <thread>
      <tr>
        <th rowspan="2">Station</th>
        <th colspan="3">Coordinates (degrees, m.)</th>
        <th>Installation Date</th>
        <th rowspan="2">Antenna</th>
        <th rowspan="2">Receiver</th>
        <th rowspan="2">Satellite Sys.<span class='footnote' data-toggle="tooltip" title="G denones GPS, R GLONASS and E GALILEO satellite systems"</th>
        <th rowspan="2">Status</th>
      </tr>
      <tr class="table-second-thead">
        <th>Long.</th><th>Lat.</th><th>Height</th>
        <th>DD-MM-YYYY</th>
      </tr>
    </thread>
    <tbody>
      {% for station in station_list %}
        <tr>
          <td><a href="{% url "station" station.four_char_id %}">{{station.four_char_id}} {{station.domes_number}}</a></td>
            {{ station.xyz_position.tabularGeodetic|safe }}
          <td>{{station.install_date|date:"d-m-Y"}}</td>
          <td class="table-list-small">{{station.antenna}}</td>
          <td class="table-list-small">{{station.receiver}}</td>
          <td>{{station.satsys}}</td>
          {% if station.status == "operational" %}
            <td class="text-success">
          {% elif station.status == "non-operational" %}
            <td class="text-danger">
          {% else %}
            <td class="text-info">
          {% endif %}
          {{station.status}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  // handle the footnote 
  jQuery(document).ready(function() {
    jQuery('[data-toggle="tooltip"]').tooltip({html:true})
  });
</script>

{% endblock content %}
