{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}
{% load nginfo_extras %} <!-- we' ll need some filters -->

<!--
  File: noamaps.html
  Show an interactive leaflet map of the network.
-->

<!-- Leaflet Map -->
<h2>Network Map</h2>
<div id="NetworkMap"></div>

<!-- JavaScipt Code for the map -->
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script type="text/javascript">
  var myAccessToken = "pk.eyJ1IjoieGFudGhvcyIsImEiOiJjanA5cDM1eDUyMHkxM3BweGJzNTRxMWNvIn0.jMORbjzoSRK4tTWgVqA8-w";
  var mymap = L.map('NetworkMap').setView([38.0, 22.5], 5);
    
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);
    
  {% for s in station_list %}
    var marker_{{s.id}} = L.marker({{s.xyz_position.toMapMarker}}, {title: "{{s.ten_char_id}}"}).addTo(mymap);
    var pop_msg = "<b>Station</b>: {{ s.four_char_id }} {{ s.domes_number }} ({{ s.ten_char_id }})<br>";
    {% if s|PpgnetBallon %}
      pop_msg +=  "Station belongs to PPGNet, joint network of Patras-Charles University and the RIGTC";
    {% else %}
      pop_msg +=  "<b>Equipment Owned by</b>: {{ s.owned_by.institute }}";
    {% endif %}
    marker_{{s.id}}.bindPopup(pop_msg);
  {% endfor %}

  // handle the footnote 
  jQuery(document).ready(function() {
    jQuery('[data-toggle="tooltip"]').tooltip({html:true})
  });
</script>

{% endblock content %}
