{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load staticfiles %} <!-- Prepare django to load static files -->
{% block content %}
{% load nginfo_extras %} <!-- we' ll need some filters -->

<div class="container">
  <h2>Field & Equipment Photos ({{station}})</h2>
  {% if photos.count > 2 %}
    <!-- If more than 2 photos for the station, make Carousel -->
    <div id="stationImageCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for p in photos %}
          <li data-target="#stationImageCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for p in photos %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img class="d-block third-slide" src="{% static p.path %}" alt="Third slide">
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#stationImageCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#stationImageCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {% elif photos.count == 2 %}
  <!-- If exactly 2 photos for the station, split view -->
    <div class="row text-center">
      <div class="col-xs-6 col-lg-6">
        <img src="{% static photos.0.path %}" class="img-thumbnail" style="width: 100%;">
      </div>
      <div class="col-xs-6 col-lg-6 d-flex flex-wrap align-items-center">
        <img src="{% static photos.1.path %}" class="img-thumbnail" style="width: 100%;">
      </div>
    </div>
  {% elif photos.count == 1 %}
  <!-- If exactly 1 photo for the station, just show it -->
    <img src="{% static photos.0.path %}" class="img-thumbnail img-responsive d-block w-50" style="margin:0 auto;">
  {% endif %}
</div>

<!-- just some empty vertical space ... -->
<div class="form-group">&nbsp;</div>

<div class="container">
  <h2>Station Information</h2>
  <div class="row mt-1 mb-5">
  <!-- Station Info and Map on same row -->

    <div class="col-md-6"><!-- On the left, information block -->
      <table class="table station-info-table table-borderless table-hover thead-light">
        <tbody>
          <tr>
            <td class="info-table-col">Name</td>
            <td class="info-table-val">{{station.four_char_id}}</td>
          </tr>
          <tr>
            <td class="info-table-col">Domes</td>
            <td class="info-table-val">{{station.domes_number}}</td>
          </tr>
          <tr>
            <td class="info-table-col">Location</td>
            <td class="info-table-val">{{station.location}}</td>
          </tr>
          <tr>
            <td class="info-table-col">Installation</td>
            <td class="info-table-val">{{station.install_date|date:"Y b d"}}</td>
          </tr>
          <tr>
            <td class="info-table-col">Antenna</td>
            <td class="info-table-val">{{station.antenna}}</td>
          </tr>
          <tr>
            <td class="info-table-col">Receiver</td>
            <td class="info-table-val">{{station.receiver}}</td>
          </tr>
          <tr>
            <td class="info-table-col">Satellite Sys.</td>
            <td class="info-table-val">{{station.satsys}}</td>
          </tr>
          <tr>
            <td colspan="2" class="info-table-col">
              Approx. Position ({{station.xyz_position.refframe}})
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="info-table-val">{{station.xyz_position.xpos}} m</td>
          </tr>
          <tr>
            <td></td>
            <td class="info-table-val">{{station.xyz_position.ypos}} m</td>
          </tr>
          <tr>
            <td></td>
            <td class="info-table-val">{{station.xyz_position.zpos}} m</td>
          </tr>
          {% if station.agency.count > 1 %}
          <tr>
            <td class="info-table-col">Equipment Owned By</td>
            <td class="info-table-val">{{ station.owned_by.short_name }}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="info-table-col">Related Agency</td>
            <td class="info-table-val">{{ station.agency|agencyListStr:"2, "|safe }}</td>
          </tr>
          {% if logfile.filename %}
          <tr>
            <td class="info-table-col">Log File</td>
            <td class="info-table-val">{{ logfile.basename|safe }}
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong">
                View
              </button>
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{ logfile.filename }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p><pre>{{ logfile.dumpAsHtml|safe }}</pre></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
        
    <div class="col-md-6"><!-- on the right, station map -->
      <div id="StationMap"></div>
    </div>
    
  </div><!-- end row (info + map) -->

  <div class="row mt-10">
    <h2>Data Quality Plots (<i>indicative</i>)</h2>
  </div>
  {% static "" as baseUrl %}
  <div class="row justify-content-center">
    <div class="col-xs-6 col-lg-4">
      <div class="thumbnail">
        <img src="{{ baseUrl }}charts/{{ station.four_char_id }}_mpt_obs.png" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-xs-6 col-lg-4">
      <div class="thumbnail">
        <img src="{{ baseUrl }}charts/{{ station.four_char_id }}_pos_blh.png" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-6 col-lg-4">
      <div class="thumbnail">
        <img src="{{ baseUrl }}charts/{{ station.four_char_id }}_sky_map.png" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-xs-6 col-lg-4">
      <div class="thumbnail">
        <img src="{{ baseUrl }}charts/{{ station.four_char_id }}_sum_all.png" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <p><em>All plots were created using the 
    <a href="http://www.pecny.cz/GOP/index.php/gnss/sw/anubis">G-Nut/Anubis</a> software</em>
  </p>
    
  <div class="row mt-5">
    <h2>Daily RINEX availability Plot</h2>
    <div class="col-xs-12 col-lg-12" id="DataChart"></div>
  </div>
    
</div> <!-- container -->
    
<!-- JavaScipt Code for the map -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/metrics-graphics@2.15.6/dist/metricsgraphics.min.js"></script>
<!-- <script src="{% static "jslibs/metrics-graphics-2.15.6/dist/metricsgraphics.min.js" %}"></script> -->
<script type="text/javascript">
  var myAccessToken = "pk.eyJ1IjoieGFudGhvcyIsImEiOiJjanA5cDM1eDUyMHkxM3BweGJzNTRxMWNvIn0.jMORbjzoSRK4tTWgVqA8-w";
  var mymap = L.map('StationMap').setView({{station.xyz_position.toMapMarker}}, 8);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(mymap);
                
  {% for s in station_list %}
    var marker_{{s.id}} = L.marker({{s.xyz_position.toMapMarker}}, {title: "{{s.ten_char_id}}"}).addTo(mymap);
    var pop_msg = "<b>Station</b>: {{ s.four_char_id }} {{ s.domes_number }} ({{ s.ten_char_id }})<br>";
    {% if station|PpgnetBallon %}
    pop_msg +=  "Station belongs to PPGNet, joint network of Patras-Charles University and the RIGTC";
    {% else %}
    pop_msg +=  "<b>Equipment Owned by</b>: {{ s.owned_by.institute }}";
    {% endif %}
    {% if s.four_char_id == station.four_char_id %}
      marker_{{s.id}}.bindPopup(pop_msg).openPopup();
    {% else %}
      marker_{{s.id}}.bindPopup(pop_msg);
    {% endif %}
  {% endfor %}

  /* Availability Plot */
  var margin = {top: 20, right: 10, bottom: 20, left: 100};
  width  = 960 - margin.left - margin.right,
  height = 300 - margin.top - margin.bottom;
  var radius = 3e0;
    
  // axis setup functions/variables
  var x      = d3.scaleTime().range([0, width]); // v4.x
  var xAxis  = /*d3.svg.axis()
                     .scale(x)
                     .ticks(d3.time.month, 1)
                     .tickSize(10)
                     .orient("bottom");*/d3.axisBottom(x);
  var y      = d3.scaleLinear().range([height, 0]);
  var yAxis  = d3.axisLeft(y); // v4.x
  yAxis.tickValues([]);
    
  // the actual svg
  var svg = d3.select("#DataChart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .attr('viewBox','0 0 '+Math.min(width+margin.left+margin.right,height+margin.top+margin.bottom)+' '+Math.min(width+margin.left+margin.right,height+margin.top+margin.bottom))
          .attr('preserveAspectRatio','xMinYMin')
      .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // function to (iteratively) plot data line
  var line = d3.line()
      .x(function(d) { return x(parseDate(d.epoch)); })
      // .y(function(d) { return y(d.size/1000e0); });
      .y(function(d) { return y(d.size>0 ? 1 : 0); });

  // datetime parse (function)
  var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");

  // Create Event Handlers for mouse
  function handleMouseOver(d, i) {  // Add interactivity
    // Use D3 to select element, change color and size
    d3.select(this)
        .attr("fill", "orange")
        .attr("r", radius * 2);
    // Specify where to put label of text
    svg.append("text")
        .attr("id", "t" + d.x + "-" + d.y + "-" + i)
        .attr("x", function() { return x(parseDate(d.epoch)) - 30; })
        .attr("y", function() { return y(d.size/1000e0) - 15; })
        .text(function() {
          return [d.epoch.split(" ")[0], (d.size/1e3).toFixed(1)+"Kb"];  // Value of the text
        });
  }

  function handleMouseOut(d, i) {
    // Use D3 to select element, change color back to normal
    d3.select(this)
          .attr("fill", "red")
          .attr("r", radius);
    // Select text by id and then remove
    d3.select("#t" + d.x + "-" + d.y + "-" + i).remove();
  }

  //  Load data from file
  d3.json("{% static json_filename %}").then( function(data) {

    // using imported data to define extent of x and y domains
    x.domain(d3.extent(data, function(d) { return parseDate(d.epoch); }));
    // y.domain(d3.extent(data, function(d) { return d.size/1000e0; }));
    y.domain([0,2]);
  
    // append x and y axis
    svg.append("g")
       .attr("class", "x axis")
       .attr("transform", "translate(0," + height + ")")
       .call(xAxis);

    /* No ticks on y-axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0-margin.left)
            .attr("x", 0-(height/2))
            .attr("dy", "1.0em")
            .style("text-anchor", "middle")
            .text("File Size (bytes)");
    */
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
         
    svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

    // plot (x,y) pairs as dots
    svg.selectAll(".dot")
        .data(data)
        .enter()
        .append("circle")
        .attr("r", radius)
        .attr("cx", function(d) {
          return x(parseDate(d.epoch));
        })
        .attr("cy", function(d) {return y(d.size>0?1:0);})
        .attr("stroke", "blue")
        .attr("stroke-width", 0.1)
        .attr("fill", "red")
        .attr("class", "normal_pt data_pt")
        .on("mouseover", handleMouseOver)
        .on("mouseout", handleMouseOut);
  });
</script>

{% endblock content %}
